html {
	font-family: Verdana, Arial, sans-serif;
}

hr {
	height: 1px;
	background: #000;
	border: 0;
	margin: 40px 0;
}

.item {
	width: 300px;
	height: 100px;
	background: #CCC;
	border-radius: 3px;
	box-shadow: 0 1px 1px #999;
	padding: 10px 10px;
	margin-bottom: 10px;
}

.item:hover {
	box-shadow: 0 1px 1px #000;
}

.left {
	width: 80%;
	float: left;
}

.right {
	width: 20%;
	float: left;
}

.item-title {
	width: 100%;
	font-size: 2em;
}

.vote-bar {
	width: 100%;
	height: 10px;
	background: #AAA;
	border-top: 1px solid #EEE;
	margin-top: 45px;
}

.vote-bar-up,
.vote-bar-down {
	height: 100%;
	float: left;
}

.vote-bar-up {
	width: 40%;
	background: #090;
}

.vote-bar-down {
	width: 60%;
	background: #900;
}

.vote-bar-up:hover {
	background: #0C0;
}

.vote-bar-down:hover {
	background: #C00;
}

/*.vote-bar-up:hover.vote-bar-up::before {
	content: '40%';
	position: relative;
	bottom: 20px;
}

.vote-bar-down:hover.vote-bar-down::before {
	content: '60%';
	position: relative;
	bottom: 20px;
}*/

.vote-total {
	margin: 5px 0;
	text-align: center;
}

.vote-up,
.vote-down {
	width: 100%;
	height: 32px;
	cursor: pointer;
	text-indent: -9999%;
}

.vote-up {
	background: url(img/vote-up.png) center no-repeat;
}

.vote-down {
	background: url(img/vote-down.png) center no-repeat;
}

.vote-up:hover,
.vote-down:hover {
	opacity: .5;
}